<p>or2content works!</p>
<div class="contentHolder">
    <div class="headLine"><app-or2headline></app-or2headline></div>
    <div class="contentClass">
        <div class="hoursClass"><app-or2hours></app-or2hours></div>
        <div class="masterClass">Master holder</div>
        <div class="addMasterClass"><app-or2addmaster></app-or2addmaster></div>
    </div>
    <div class="linksClass"><app-or2links></app-or2links></div>
    <div class="copyClass"><app-or2copyright></app-or2copyright></div>
</div>