
    <div *ngIf="this.or2.addCommentView" class="addNewCommentStyle">
            <div class="commentDarker">
                <div class="commentHolder">
                    <div class="titleNewComment"> {{this.or2.languageObject.newName}} </div>
                    <div class="closeNewComment" (click)="this.or2.closeNewComment()">×</div>
                    <div class="commentForm">
                        <input
                         type="text"
                         placeholder="add your sdf"
                         #newComment
                        >
                    </div>
                    <div class="commentButtons">
                        <button
                        type="reset"
                        (click)="this.or2.closeNewComment()"
                        >mégsem</button>
                        <button
                         type="submit"
                         (click)="this.or2.addNewCommentToJson( newComment )"
                        >jóváhagy</button>
                    </div>
            </div>
            </div>
    </div>

<div class="orarendholder">

    <div class="contentHolder">
        <app-or2content></app-or2content>
    </div>

    <div class="userClass">
        <app-or2user></app-or2user>    
        <div class="commentClass">
            <app-or2comment></app-or2comment>
        </div>
    </div>

    <div class="classesClass">
        <app-or2classes2></app-or2classes2>
    </div>

</div>