<div class="orarendholder">

    <div *ngIf="this.or2.addCommentView">
        <div>Rejtett tartalom {{this.or2.languageObject.newName}}</div>
    </div>
    <div class="contentHolder">
        <app-or2content></app-or2content>
    </div>

    <div class="userClass">
        <app-or2user></app-or2user>    
        <div class="commentClass">
            <app-or2comment></app-or2comment>
        </div>
    </div>

    <div class="classesClass">
        <app-or2classes2></app-or2classes2>
    </div>

</div>