.classesClass{
    text-transform: uppercase;
}
.cimClass {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
}
ul {
    list-style-type: none;
    font-size: 15px;
    line-height: 0px;
    padding-top: 4px;
    padding-left: 0px;
}
li::before {
    content: ": :";
    padding-right: 4px;
    line-height: 80%;
    font-weight: 700;
    font-size: 13px;
    vertical-align: 2px;
}
.hideLeClass {
    text-decoration: none;
    display: inline;
    padding-left: 12px;
    font-weight: 700;
    font-size: 16px;
    color: black0;
}
.classListClass{
    padding-top: -10px;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
}
a:hover {
    color: chocolate;
}
.newClassClass{
    padding-top: 25px;
    font-size: 14px;
    font-weight: 700;
    
}
.newclasses {
    color: #a669a7;
}
.classesChanger{
    font-size: 14px;
    padding-top: 25px;
}
.classesChangeBtn{
    display: inline;
    text-decoration: underline;
}
.btnInactive{
    pointer-events: none;
    letter-spacing: normal;
    color: black;
    font-weight: 700;
    text-decoration: none;
}