<div class="classesClass">
    <div class="cimClass">{{this.or2.classesTitle}}</div>
    <div class="classesChanger">
        <a 
        class="classesChangeBtn" 
        (click)="this.or2.classChange('private')"
        [class.btnInactive]="this.or2.baseClassesType == 'private'"
        >{{this.or2.baseClassesA}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="this.or2.classChange('work')" class="classesChangeBtn"  [class.btnInactive]="this.or2.baseClassesType == 'work'">{{this.or2.baseClassesB}}</a>
    </div>
    <div class="classListClass">
        <ul 
        *ngFor="let classes of this.or2.classesObject;let i=index" 
        [hidden]="classes.type != this.or2.baseClassesType"
        >
            <li>
                {{classes.name}} <a href="" style="text-decoration: none;" ><div class="hideLeClass">×</div></a>
            </li>
        </ul>
    </div>
    <div class="newClassClass">
        <a href="" class="newclasses">{{this.or2.classesAddNew}}</a>
    </div>
</div>