
.master{
    display: inline-block;
    padding-right: 30px;
}
.masterHolder{
    text-align: center;
}
.title{

    width: 198px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 21px;
    
    background-color: #fff;
    border: 2px solid #d3d2c4;
    border-radius: 10px;

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #575004;
    letter-spacing: 0px;
    
}
.workClass{
    position:absolute;
    background-color: #cac6a7;
    border-radius: 10px;

    display: inline-block;
    width: 30px;
    height: 26px;
    text-align: center;
    font-size: 18px;
    padding-top: 4px;
    color: #fff;
}
.hour{
    
    background-color: #f5f5f5;
    border-radius: 10px;

    display: inline-block;
    width: 182px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-bottom: 4px;
    
    text-align: right;
    color: #67612b;
    font-size: 16px;

}
.inactiveHourBox{

    background-color: #fff;
    border: 2px solid #f5f5f5;

    color: #a8a8a8;

    width: 178px;
    padding-top: 4px;
    padding-bottom: 3px;

}
.hourHolder{
    text-align: center;
}
.counter {
    display: inline-block;
}
.number {
    display: inline-block;
    font-weight: 700;
}
.addComment{
    display: inline;
    margin: 0px;
    padding: 0px;
    text-align: right;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: 700;
}
.bg{
    display: inline-block;
    text-align: center;
    width: 118px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}