<div class="holder">
    <div class="titlett">Projects</div>
    <div>2020 06 10-től az alábbi projektek elérhetőek:</div>
    <div class="aclass">
        2020 06&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="arrow">→</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to&nbsp;<a href="/orarend">Orarend 2</a>
    </div>
    <div class="aclass">
        2020 0x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="arrow">→</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to&nbsp;<a href="/orarend">Projekt nyilvántartó (projektenkénti jegyzet készítő)</a>
    </div>
    <div class="bclass">
        2020 0x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="arrow">→</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to&nbsp;<a href="/orarend">Angol tanuló</a>
    </div>
    <div class="bclass">
        2020 0x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="arrow">→</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to&nbsp;<a href="/orarend">Helyesírás gyakorló</a>
    </div>
</div>