<div class="holder">
    <div class="titlett">Projects</div>
    <div>2020 06 10-től az alábbi projektek elérhetőek:</div>
    <div class="aclass">
        2020 06&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="arrow">→</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/orarend">Go to&nbsp;Orarend 2</a>
    </div>
    <div class="aclass">
        2020 07&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="arrow">→</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/orarend">Go to&nbsp;Projekt nyilvántartó (projektenkénti jegyzet készítő)</a>
    </div>
</div>